
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <span>World, Hello!</span>
    <form action="/Greet/Index" method="get">
        <input type="text" name="name" />
        <input type="submit" name="Submit" />
    </form>
</body>
</html>
